<!DOCTYPE html>
<html><body>
    <form action="/" method="post">
        First name:<br>
    <input type="text" name="content" value="">
    <input type="submit" value="Submit">
</form><p>Hello <%= data %> </p></body></html>